body{
    background-color: $bd-color;
    color: #eee;
    font-family: $fuente-princ;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: $ft-color;
    font-size: 30px;
    color: white;

    .footer-title{
        color: $h-color;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;

    }
    .footer-content{
        padding: 40px;
        background-color: $ft-color;
        color: $header-color;
        text-align: center;
    }

    .footer.info{
        margin-top: 20px;
        font-size: 14px;
    }

    .container-redes{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .container-redes a{
        color: $header-color;
        font-size: 24px;
        transition: color 0.3s ease-in-out;
        &:hover{
            color: #aaa;
        }
    }

    .logo-container{
        text-align: center;
        img{
            width: 100px;
            height: auto;
        }
    }
}

header{
    background-color: $ft-color;
    padding: 10px;
    color: $header-color;


    .navbar-brand{
        color: $header-color;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
    }

    .navbar-nav .nav-link{
        color: $header-color;
        text-decoration: none;
        margin-left: 10px;
        font-size: 18px;
        margin-right: 10px;
    }

    .navbar-nav .nav-link:hover{
        color: #aaa;
    }
}

h1,h2,h3{
    text-align: center;
    color: #ddd;
    animation: fadeIn 1s ease-in-out;
    @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(-20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
}

p{
    text-align: center;
}

section{
    padding: 20px;
    text-align: center;
}


@media (min-width: $celu){

    /*INICIO*/
    .gallery{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .navbar-nav {
      flex-direction: column;
    }
    /*CONTACTO*/
    .tituloC, .parrafoC {
      text-align: center;
    }
    .main-contacto {
      padding: 10px;
    }
    .container-mapa {
      padding: 10px;
    }
    /*PRODUCTOS E INDUMENTARIA*/
  
    .cartas{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
  
  @media (min-width: $desktop){
    /*INICIO*/
  
    .gallery{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
      gap: 30px;
    }
  
    /*PRODUCTOS E INDUMENTARIA*/
    .cartas{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  
  }
  
  
  @media (min-width: $desktopXG){
  
    /*INICIO*/
    .gallery{
      display: grid;
      grid-template-columns: repeat(4, 0.3fr);
      gap: 20px;
    }
  
    /*PRODUCTOS E INDUMENTARIA*/
    .cartas{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
    }
  
    .navbar-nav {
      margin-left: auto;
    }
  }